<header class="container">
  <section>
    <h1 class="logo">
      <img src="../../../assets/img/WellLogo.png" alt="" /> FitApp
    </h1>
    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/workout" routerLinkActive="active">Exercise </a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  </section>
</header>
