<section class="container">
  <div class="header">
    <h1>Exercise Database</h1>
    <h2>Exercises By Muscle Group</h2>
    <h3>Find exercises that work out the muscle groups you're targeting.</h3>
  </div>
  <div class="muscle-groups">
    <div class="pic">
      <a routerLink="/bodypart/:Triceps">
        <img
          src="https://www.jefit.com/images/bodyparts2/triceps.png"
          alt="triceps figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Triceps">Triceps</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Chest">
        <img
          src="https://www.jefit.com/images/bodyparts2/chest.png"
          alt="chest figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Chest">Chest</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Shoulders">
        <img
          src="https://www.jefit.com/images/bodyparts2/shoulders.png"
          alt="shoulders figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Shoulders">Shoulders</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Biceps">
        <img
          src="https://www.jefit.com/images/bodyparts2/biceps.png"
          alt="biceps figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Biceps">Biceps</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Abs">
        <img
          src="https://www.jefit.com/images/bodyparts2/core.png"
          alt="abs figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Abs">Core</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Back">
        <img
          src="https://www.jefit.com/images/bodyparts2/back.png"
          alt="back figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Back">Back</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Forearm">
        <img
          src="https://www.jefit.com/images/bodyparts2/forearms.png"
          alt="forearm figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Forearm">Forearm</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Upper-Legs">
        <img
          src="https://www.jefit.com/images/bodyparts2/upper_legs.png"
          alt="upper legs figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Upper-Legs">Upper Legs</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Glutes">
        <img
          src="https://www.jefit.com/images/bodyparts2/glutes.png"
          alt="glutes figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Glutes">Glutes</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Cardio">
        <img
          src="https://www.jefit.com/images/bodyparts2/cardio.png"
          alt="lungs figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Cardio">Cardio</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart/:Lower-Legs">
        <img
          src="https://www.jefit.com/images/bodyparts2/lower_legs.png"
          alt="lower legs figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart/:Lower-Legs">Lower Legs</a>
      </div>
    </div>
    <div class="pic">
      <a routerLink="/bodypart">
        <img
          src="https://www.jefit.com/images/bodyparts2/all.png"
          alt="human figure highlighted in blue"
        />
      </a>
      <div class="text">
        <a routerLink="/bodypart">All Exercises</a>
      </div>
    </div>
  </div>
</section>
